.mainContainer {
    padding: 5%;
    background-color: #A9A9A9;
    display: flex;
    flex-direction: column;
    
}


@media only screen and (min-width:480px) {
    .mainContainer {
        padding: 8%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        
    }
}



