.rankingsContainer {
    background-color: #ffffff;
    margin-top: 5%;
    text-align: center;
}

.table {
    margin: auto;
    width: 100%;
    display: flex;
}

.table--body .table--title--row  {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

/* seleziono primi elementi di ogni row */
.table--team--row td:first-child {
    /* il testo va fatto in grassetto */
    font-weight: bold;
   /* allineo il testo */
    display:flex;
    justify-content:flex-end;
    align-items:center;
    padding-right: 5px;
}


/* li posiziono nella parte sinistra dello schermo */
.table--team--row  {
    display: flex;
    background-color: red;
}



/* raggruppo gli altri elementi della tabella e li posiziono a destra */
/* il testo dell ultimo td di ogni tr va fatto in grassetto */

.table--team--icon img {
    max-width: 25px;
    max-height: 25px;
    margin-right: 5px;
}

.table--team--name {
    
}

.table--body {
    margin: auto;
}

