.storiesContainer {
    background-color: white;
    height: 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
}

.storiesContainer > div {
    flex-grow: 1;
}


.storiesContainer h1 {
    padding-left: 2em;
}